.idea
volume
node_modules
npm-debug.log

prisma/migrations

test-haufe-client/node_modules
test-haufe-client/.pnp
test-haufe-client/.pnp.js

test-haufe-client/coverage

test-haufe-client/build

test-haufe-client/.DS_Store
test-haufe-client/.env.local
test-haufe-client/.env.development.local
test-haufe-client/.env.test.local
test-haufe-client/.env.production.local

test-haufe-client/npm-debug.log*
test-haufe-client/yarn-debug.log*
test-haufe-client/yarn-error.log*